{% extends 'base.html' %}

{% block body %}

<style>

  html{
    font-size: 62.5%
  }

  .tam-img{
    width: 30rem;
    height: 30rem;
  }

  p{
    font-size: 2rem;
  }

  button{
    font-size: 3rem;
    border-radius: 10%;
    background-color: rgba(255, 230, 0, 0.353);
  }

  .col{
    border: solid black;
    margin: 2rem 2rem;
    padding: 2rem;
    border-radius: 5%;
    background-color: #f9f3f8;
  }
  
  .preco{
    font-size: 28px;
    font-weight: 700px;
  }
</style>

<hr>

<div class="container text-center">
  <div class="row align-items-start">
    <div class="col">
      <img src="{{ url_for('static', filename='2.png') }}" alt="" class="tam-img">
      <p>Meia-Coxa Jeans 💛 </p>
      <p>Disponíveis do 42 ao 46</p>
      <p class="preco">VALOR: R$119,90</p>
      <a href="https://web.whatsapp.com/send/?phone=32999477844&text=Adorei+a+Meia-Coxa+%28ref%3D2222%29+e+gostaria+de+efetuar+o+pagamento+%21&type=phone_number&app_absent=0"><button>Eu quero !</button></a>
    </div>
    <div class="col">
      <img src="{{ url_for('static', filename='3.png') }}" alt="" class="tam-img">
      <p>Meia-Coxa Jeans 💛 </p>
      <p>Disponíveis do 42 ao 46</p>
      <p class="preco">VALOR: R$119,90</p>
      <a href="https://wa.me/32999477844?text=Adorei%20a%20Meia-Coxa%20(ref%3D5555)%20e%20gostaria%20de%20efetuar%20o%20pagamento%20!"><button>Eu quero !</button></a>
    </div>
    <div class="col">
      <img src="{{ url_for('static', filename='4.png') }}" alt="" class="tam-img">
      <p>Meia-Coxa Jeans 💛 </p>
      <p>Disponíveis do 42 ao 46</p>
      <p class="preco">VALOR: R$119,90</p>
      <button>Eu quero !</button>
    </div>
  </div>
  <div class="row align-items-start">
    <div class="col">
      <img src="{{ url_for('static', filename='2.png') }}" alt="" class="tam-img">
      <p>Meia-Coxa Jeans 💛 </p>
      <p>Disponíveis do 42 ao 46</p>
      <p class="preco">VALOR: R$119,90</p>
      <button>Eu quero !</button>
    </div>
    <div class="col">
      <img src="{{ url_for('static', filename='3.png') }}" alt="" class="tam-img">
      <p>Meia-Coxa Jeans 💛 </p>
      <p>Disponíveis do 42 ao 46</p>
      <p class="preco">VALOR: R$119,90</p>
      <button>Eu quero !</button>
    </div>
    <div class="col">
      <img src="{{ url_for('static', filename='4.png') }}" alt="" class="tam-img">
      <p>Meia-Coxa Jeans 💛 </p>
      <p>Disponíveis do 42 ao 46</p>
      <p class="preco">VALOR: R$119,90</p>
      <button>Eu quero !</button>
    </div>
  </div>
</div>


{% endblock %}


